body		{
			width: 100%;
			height: auto;
			background-repeat: repeat-x ;
			background-position-y: 200px;
			background-size:400px;				
			margin: 0px auto;
			z-index:-1;	
			font-size: small;
			font-family: "Al Bayan";
			float: left;
			
			}
			

.body2		{
			margin: 0 auto;
			width: 620px;
		
			}
			
.header		{
			background-image:url('../IMAGES/header.png');/* horses text header  */ 
			background-repeat:no-repeat;
			background-color: black;
			background-size:700px;
			background-position:center;
		 	width: 1315px;     
            height: 300px; 
            padding: 50px;
            margin-left:-400px;
            border:solid 1px;
			-webkit-box-shadow: 1px 6px 2px -6px black;
			-moz-box-shadow: 1px 6px 2px -6px black;
			box-shadow: 1px 6px 2px -6px black;
			
			}

#BgHorsesPicRight	{	
			
			float:left;
			padding:30px;
			margin-top:680px;	
			margin-left:600px;
			position: absolute;
			}





.grayBack	{															/* menu gray Background image in index.html  */
			background-image:url('../IMAGES/pony-patter.png');
			width: 450px;
			float:left;
			height:auto;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin:-260px;
			margin-top: 50px;
			position: absolute;
			
			}
.horseSelect{
												/* the horse type menu bar css */
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 200px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 0px;
}


.horsetype	{
	 														      /* the horse type menu bar css */
	 		background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 90px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			}
			
.weighttype{
													                /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 250px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			
			}

.linkHolder{


			background-color:#E0E0E0;
			float: left;
			width: auto;     
            height: auto; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			margin-top: 20px;
			
			
			}
.nextButton{
   			border-top: 1px solid #7d9cb0;			/* the connection button css to the other sites (horseScale.html / horseWeight.html)*/
   			background: #a5b0b7;
   			background: -webkit-gradient(linear, left top, left bottom, from(#a2becf), to(#a5b0b8));
   			background: -webkit-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -moz-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -ms-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -o-linear-gradient(top, #a2becf, #a5b0b7);
   			padding: 3px;
   			-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   			-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   			box-shadow: rgba(0,0,0,1) 0 1px 0;
   			text-shadow: rgba(0,0,0,.4) 0 1px 0;
   			color: white;
   			font-size: 13px;
   			text-decoration: none;
   			vertical-align: middle;
  			}
.nextButton:hover {
   			border-top-color: #28597a;
   			background: #28597a;
   			color: #ccc;
   			}
.nextButton:active {
   			border-top-color: #1b435e;
   			background: #1b435e;
   			}



.hayType	{										
															 /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: auto; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			text-align:inherit;
			}

.HorseFatSkinny {
			
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 90px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			}

.MjSmbrp	{												 /* the weight of the horse menu bar css*/
			
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 220px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			text-align:inherit;
			
			}
			






.workout{
													                /* the work of the horse menu bar css*/
			background-color:#E0E0E0;
			float:left;
			margin-top: 20px;
			width: 400px;     
            height: 300px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			
			}
			
.ProteinType{

			background-color:#E0E0E0;
			float: left;
			margin-top: 20px;
			width: 400px;     
            height:auto; 
            padding:20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	        
			}
.DiverseType{
			
			background-color:#E0E0E0;
			float: left;
			margin-top: 20px;
			width: 400px;     
            height: auto; 
            padding:20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			
			}
.submit {																/* submit button, and has on mouse over css */
		     -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		     -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		     box-shadow:inset 0px 1px 0px 0px #ffffff;
		     margin-top: 30px;
		     background-color:#ededed;
		     -moz-border-radius:2px;
		     -webkit-border-radius:2px;
		     border-radius:2px;
		     border:1px solid black;
		     width: 170px;     
             height: auto;
		     display:inline-block;
		     color:black;
		     font-family:arial;
		     font-size:15px;
		     font-weight:bold;
		     float: left;
		     padding:10px;
		     text-decoration:none;
		     text-shadow:1px 1px 0px #ffffff;
		     -webkit-box-shadow: 0 8px 6px -6px black;
	   		 -moz-box-shadow: 0 8px 6px -6px black;
	         box-shadow: 0 8px 6px -6px black;	
}.submit:hover {
			 
			 				
			 background-color:#dfdfdf;
}.submit:active { 	
			 position:relative;
			 top:1px;
}			 

#ResultHead	{
			background-color: white;
			width:500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 0px;
			}

#ResultText	{
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}			



#DraktigResult{
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultText2 {
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultTravGalopp {
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultFoodArry {
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;

}

#ResultBody {

			background-image:url('../IMAGES/pony-patter.png');
			width: auto;
			height:auto;
			float:right;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin:730px;
			margin-top: 50px;
			position: absolute;
			
			}

#Row2		{
				display:none;
			}

#Row3		{
				display:none;
			}

#Row4		{
				display:none;
			}

#Row5		{
				display:none;
			}

#Result11	{

			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result22	{
			display:none;
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result33	{
			display:none;
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result44	{
			display:none;
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result55	{
			display:none;
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;

}

#redTxt		{
			color:red; 
			}

#greenTxt		{
			color:green; 
			}
.footer{
														/*W3C logo at footer index page */
			width: 65px;     
            height: auto;
            text-align: center;
			float:left;
			margin-top:2300px;
		}	



/*************************************************** BELOW IS CSS FOR A index.HTML result display PAGE ********************************************************/

.display	{											/*css for the index out put or result displayer */
			
			background-image:url('../IMAGES/pony-patter.png');
			width: 540px;
			float:left;
			height:auto;
			padding:60px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 100px;
			margin-left: 400px;
			margin-bottom: 100px;
			
			}			
			
/*************************************************** BELOW IS CSS FOR A horseScale.HTML PAGE ********************************************************/



.grayBack2{															/* menu gray Background image in horseScale site  */
	
			background-image:url('../IMAGES/pony-patter.png');
			width: 540px;
			float:left;
			height:auto;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 50px;
			position: absolute;
			} 	
			
#blackBox{								/*image container for horseWeight.html*/
			background-color:white;
			width:500px;
			padding:20px;
			background-size:350px;
			float: left;
			border: solid;
			border-width: 1px;
			-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:0px;
			
			}		
			
.horseMesurement{
			
			background-image:url('../IMAGES/horse_pen.png');  /* häst Lansmärkeomgång i CM bild */
			background-repeat:no-repeat;
			background-color:white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 35px;
		 	border: solid;
			border-width: 1px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:20px;

			}

.horseMesurement2{
			background-image:url('../IMAGES/horse_pen2.png'); /* häst Bröstomfån i CM  bild*/
			background-repeat:no-repeat;
			background-color:white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 35px;
		 	border: solid;
			border-width: 1px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:20px;

			}

#LansMark{									/*Formel:1 calculater gray box*/
			background-color:#E0E0E0;
			float: left;
			width: 460px;     
            height: 220px; 
            padding:20px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			margin:20px;
			}

#theanswer{								/*Formel:1 calculater white display bar */
										
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			font-family: "Al Bayan";
			width: 400px;     
            height:20px; 
            padding:10px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			margin:20px;

			}

#Brostom{
											/*Formel:2 calculater gray box*/
			background-color:#E0E0E0;
			float: left;
			width: 460px;     
            height: 220px; 
            padding:20px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			margin:20px;
			

			}


#theanswer2{
										/*Formel:2 calculater white display bar */
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			font-family: "Al Bayan";
			width: 400px;     
            height:20px; 
            padding:10px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			margin:20px;
			
			}

.footer2{
								/*W3C logo at footer in horseScale page */
			width: 65px;     
            text-align: center;
			margin-top:2000px;
			
			}
			
/*************************************************** BELOW IS CSS FOR A horseWeight.HTML result display PAGE ********************************************************/	


.footer3	{
			width: 65px;     /*W3C logo at footer in horseWeight.html page */
            text-align: center;
			margin-top:1900px;
			
			}
.footer4	{
			width: 0px;     /*W3C logo at footer in VIDEO.html page */
            text-align: center;
			margin-top:1600px;
				
			}			
#menuBar-one { 
			margin: 1px auto; 
			list-style: none; 
			position: relative; 
			width: 610px; 
			height: 40px;	
			border:solid;
			border-width: 1px; 
			border-color: gray;
			background-color: black;
			-webkit-box-shadow: 1px 6px 2px -6px black;
			-moz-box-shadow: 1px 6px 2px -6px black;
			box-shadow: 1px 6px 2px -6px black;
			margin-top: 290px;		
			margin-right:320px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			}			

#menuBar-one li { 
			display: inline-block; 
			}

#menuBar-one li a { 
			position: relative; 
			z-index: 200; 
			color: white; 
			font-size: 14px; 
			display: block; 
			float: left; 
			padding: 10px 20px 5px 18px;
			text-decoration: none;
			text-transform: uppercase; 
			}
#menuBar-one li a:hover { 
			color:white; 
			}

#menuBar-one #magic-line-two { 
		    position: absolute; 
		    top: 0; 
		    left: 0; 
		    padding: px;
		    width: 350px; 
		    background: #900; 
		    z-index: 100; 
			}

.current_page_item_two a { 
			color:white !important; 
			}

.ie6 #menuBar-one li, .ie7 #menuBar-one li {
			display: inline;
			}
			
#Youtubetable {
			background-image:url('../IMAGES/pony-patter.png');
			width: 950px;
			float:left;
			height:inherit;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin:-200px;
			margin-top: 50px;
			position: absolute;


}			
			
			