body		{
			width: 100%;
		
			float: left;
			position: absolute;
			
			}
			

.body2		{
			margin: 0;
			float:left;
			
			
			}
			





.horseSelect{
												/* the horse type form input, stallian , pregnant or young horse radio buttons css */
			background-color:#E0E0E0;
			float: left;
			width: 450px;     
            height: 186px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 0px;
			margin-left:-20px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
		
		}
															/* 1 Info red icon at bottom of the box  */
#icon1	{
			margin-bottom:-20px;
			margin-left:440px;
			
		}
#info1	{													/* 1 gray box with information that is activated when icon hoverd */
			display: none;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
			float: left;
			width: 280px;     
            height: 60px; 
            padding:20px;
            margin-top: 220px;
			margin-left:220px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
			
#icon2	{														/* 2 Info red icon at bottom of the box  */
			margin-bottom:-20px;
			margin-left:440px;
			
		}
#info2	{														/* 2 gray box with information that is activated when icon hoverd */
			display: none;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
			float: left;
			width: 280px;     
            height: 20px; 
            padding: 20px;
            margin-top: 450px;
			margin-left:220px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
#icon3	{										/* 3 Info red icon at bottom of the box  */
			margin-bottom:-20px;
			margin-left:440px;
			
		}

#info3	{													/* 3 gray box with information that is activated when icon hoverd */
			display: none;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */			float: left;
			width: 280px;     
            height: 20px; 
            padding: 20px;
            margin-top: 590px;
			margin-left:220px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
		}			

#icon4	{										/* 4 Info red icon at bottom of the box  */
			margin-bottom:-20px;
			margin-left:440px;
		
		}	
#info4	{												/* 4 gray box with information that is activated when icon hoverd */
			display: none;				
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
			float: left;
			width: 280px;     
            height: 20px; 
            padding: 20px;
            margin-top: 760px;
			margin-left:220px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
#icon5	{										/* 5 Info red icon at bottom of the box  */
			margin-bottom:-20px;
			margin-left:440px;
			
		}
#info5	{											/* 5 gray box with information that is activated when icon hoverd */
			display: none;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
			float: left;
			width: 280px;     
            height: 70px; 
            padding: 20px;
            margin-top: 1000px;
			margin-left:220px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
#icon6	{										/* 6 Info red icon at bottom of the box  */
			margin-bottom:-20px;
			margin-left:440px;
			
		}
#info6	{										/* 6 gray box with information that is activated when icon hoverd */
			display: none;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */			float: left;
			width: 280px;     
            height: 50px; 
            padding: 20px;
            margin-top: 1310px;
			margin-left:220px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
#icon7	{										/* 7 Info red icon at bottom of the box  */
			margin-bottom:-20px;
			margin-left:440px;
			
		}
#info7	{										/* 7 gray box with information that is activated when icon hoverd */
			display: none;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
			float: left;
			width: 280px;     
            height: 50px; 
            padding: 20px;
            margin-top: 1660px;
			margin-left:220px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}

#icon8	{											/* 8 Info red icon at bottom of the box  */
			margin-bottom:-20px;
			margin-left:440px;
			
		}
#info8	{												/* 8 gray box with information that is activated when icon hoverd */
			display: none;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
			float: left;
			width: 280px;     
            height: 40px; 
            padding: 20px;
            margin-top: 2000px;
			margin-left:220px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}




.weighttype{
													                /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 450px;     
            height: auto; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}


.horsetype	{
	 														      /* the horse type menu bar css */
	 		background-color:#E0E0E0;
			float: left;
			width: 450px;     
            height: 78px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}

.linkHolder{
			float: left;
			width: auto;     
            height: auto; 
           
          }
.nextButton{
   			border-top: 1px solid #7d9cb0;			/* the connection button css to the other sites (horseScale.html / horseWeight.html)*/
   			background: #a5b0b7;
   			background: -webkit-gradient(linear, left top, left bottom, from(#a2becf), to(#a5b0b8));
   			background: -webkit-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -moz-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -ms-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -o-linear-gradient(top, #a2becf, #a5b0b7);
   			padding: 3px;
   			-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   			-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   			box-shadow: rgba(0,0,0,1) 0 1px 0;
   			text-shadow: rgba(0,0,0,.4) 0 1px 0;
   			color: white;
   			font-size: 13px;
   			text-decoration: none;
   			vertical-align: middle;
  			}
.nextButton:hover {
   			border-top-color: #28597a;
   			background: #28597a;
   			color: #ccc;
   			}
.nextButton:active {
   			border-top-color: #1b435e;
   			background: #1b435e;
   			}



.HorseFatSkinny {
			
			background-color:#E0E0E0;			/* CSS for skinny or fat horse part*/
			float: left;
			width: 450px;     
            height: auto; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}


.hayType	{										
															 /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 450px;     
            height: auto; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			text-align:inherit;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			
			
			}


.workout{										                /* TRAVS AND SKRAT the work of the horse menu bar css*/
			background-color:#E0E0E0;
			float:left;
			margin-top: 20px;
			width: 450px;     
            height: 230px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			 -webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}
				
.ProteinType{

			background-color:#E0E0E0;
			float: left;
			width: 500px;     
            height:auto; 
            padding:40px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-left:30px;
			}
.DiverseType{
			
			background-color:#E0E0E0;
			float: left;
			margin-top: 20px;
			width: 450px;     
            height:auto; 
            padding:20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			 -webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}


#ResultHead	{
			background-color: white;
			width:400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 0px;
			}

#ResultText	{
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}			



#DraktigResult{
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultText2 {
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultTravGalopp {
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultFoodArry {
			background-color: white;
			width: 500px;
			height:auto;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}

#Foodfield1 {
			background-color: white;
			width: 400px;
			height:auto;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;

}

#Foodfield2 {
			background-color: white;
			width:400px;
			height:auto;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 0px;

}

#Foodfield3 {
			background-color: white;
			width:400px;
			height:auto;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 0px;
}


#Diversefield1{
			background-color: white;
			width:400px;
			height:auto;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 10px;
}


#Diversefield2{
			background-color: white;
			width:400px;
			height:auto;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 0px;
}

#Diversefield3{
			background-color: white;
			width:400px;
			height:auto;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 0px;
}


#ResultBody {

			
			width:400px;
			height:auto;
			float:right;
			padding:50px;	
			border: 1px solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin:730px;
			margin-top: 50px;
			position: absolute;
			-webkit-box-shadow:  0px 0px 10px 1px rgba(1, 1, 1, 1);
        	-moz-box-shadow:  0px 0px 10px 1px rgba(1, 1, 1, 1);
        	box-shadow:  0px 0px 10px 1px rgba(1, 1, 1, 1);
			}

#Row2		{
				display:none; 					/*  All the rows 2-5 are not displayed for energy break down input  */
			}

#Row3		{
				display:none;
			}

#Row4		{
				display:none;
			}

#Row5		{
				display:none;
			}

#Result11	{
														/* this containe all the results css when the user submits */
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result22	{
			display:none;
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result33	{
			display:none;
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result44	{
			display:none;
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result55	{
			display:none;
			background-color: white;
			width: 400px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;

}

#FoodRow2	{
				display:none; 					/*  All the rows 2-5 are not displayed for energy break down input  */
			}

#FoodRow3		{
				display:none;
			}

#FoodRow22		{
				display:none;
			}

#FoodRow33		{
				display:none;
			}




#redTxt		{
			color:red; 
			}

#greenTxt		{
			color:green; 
			}
.footer{
														/*W3C logo at footer index page */
			
            text-align: center;
			float:left;
			margin-top:2500px;
			position: relative;
		}	



		
			
/*************************************************** BELOW IS CSS FOR A horseScale.HTML PAGE ********************************************************/



.grayBack2{															/* menu gray Background image in horseScale site  */
	
			background-image:url('../IMAGES/pony-patter.png');
			width: auto;
			float:left;
			height:auto;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: #838B8B; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 50px;
			margin-left:-49px;
			position: absolute;
			-webkit-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	-moz-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
			} 	
	
			
.horseMesurement{
			
			background-image:url('../IMAGES/horse_pen.png');  /* häst Lansmärkeomgång i CM bild */
			background-repeat:no-repeat;
			background-color:white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 35px;
		 	border: solid;
			border-width: 1px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:20px;

			}

.horseMesurement2{
			background-image:url('../IMAGES/horse_pen2.png'); /* häst Bröstomfån i CM  bild*/
			background-repeat:no-repeat;
			background-color:white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 35px;
		 	border: solid;
			border-width: 1px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:20px;

			}

#LansMark{									/*Formel:1 calculater gray box*/
			background-color:#E0E0E0;
			float: left;
			width: 460px;     
            height: auto; 
            padding:20px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			margin:20px;
			}

#theanswer{								/*Formel:1 calculater white display bar */
										
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			width: 400px;     
            height:20px; 
            padding:10px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			margin:20px;

			}

#Brostom{
											/*Formel:2 calculater gray box*/
			background-color:#E0E0E0;
			float: left;
			width: 460px;     
            height: auto; 
            padding:20px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			margin:20px;
			

			}


#theanswer2{
										/*Formel:2 calculater white display bar */
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			width: 400px;     
            height:20px; 
            padding:10px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			margin:20px;
			
			}

#error1	{					/* validation error text color for the horse scale page*/
			color:red;
		}

#error2	{
			color:red;
		}

#error3	{
			color:red;
		}

#error4	{
			color:red;
		}


.footer2{
								/*W3C logo at footer in horseScale page */
			width: 65px;     
            text-align: center;
			margin-top:2000px;
			
			}
			
/*************************************************** BELOW IS CSS FOR A horseWeight.HTML result display PAGE ********************************************************/	


.footer3	{
			width: 65px;    			 /*W3C logo at footer in horseWeight.html page */
            text-align: center;
			margin-top:1900px;
			
			}
			



#Youtubetable {
			background-image:url('../IMAGES/pony-patter.png');
			width: 950px;
			float:left;
			height:inherit;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin:-250px;
			margin-top: 50px;
			position: absolute;
			-webkit-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	-moz-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);

}			
			
			