body		{
			width: 100%;
			height: auto;
			background-repeat: repeat-x ;
			background-position-y: 200px;
			background-size:400px;				
			margin: 0px auto;
			z-index:-1;	
			
			font-size:13px;
			font-family:"Tahoma";
			float: left;
			
			}
			

.body2		{
			margin: 0 auto;
			width: 620px;
			height: auto;
			
			
			
			}
			
.header		{
			background-image:url('../IMAGES/header.png');/* horses text header  */ 
			background-repeat:no-repeat;
			background-color: black;
			background-size:700px;
			background-position:center;
		 	width: 1315px;     
            height: 300px; 
            padding: 50px;
            margin-left:-400px;
            border:solid 1px;
			border-color: white;
			}

#BgHorsesPicRight	{	
			
			float:left;
			padding:30px;
			margin-top:680px;	
			margin-left:190px;
			position:absolute;
			z-index:-1;
			}





.grayBack	{															/* menu gray Background image in index.html  */
			background-image:url('../IMAGES/pony-patter.png');
			width: 450px;
			float:left;
			height:auto;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color:#838B8B; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin:-260px;
			margin-top: 50px;
			position: absolute;
			-webkit-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	-moz-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        
			}
.horseSelect{
												/* the horse type form input, stallian , pregnant or young horse radio buttons css */
			background-color:#E0E0E0;
			float: left;
			width: 450px;     
            height: 186px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 0px;
			margin-left:-20px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
		
		}
															/* 1 Info red icon at bottom of the box  */
#icon1	{
			padding: 0px;
			margin-left:440px;
			
		}
#info1	{													/* 1 gray box with information that is activated when icon hoverd */
			display: none;
			background-image: url('../IMAGES/infobox.png');
			background-repeat:no-repeat; 
			background-color:none;
			float: left;
			width: 294px;     
            height: 150px; 
            padding: 39px;
            margin-top: 130px;
			margin-left:200px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
			
#icon2	{														/* 2 Info red icon at bottom of the box  */
			padding: 0px;
			margin-left:440px;
			opacity: 0.2px;
		}
#info2	{														/* 2 gray box with information that is activated when icon hoverd */
			display: none;
			background-image: url('../IMAGES/infobox.png');
			background-repeat:no-repeat; 
			background-color:none;
			float: left;
			width: 294px;     
            height: 150px; 
            padding: 39px;
            margin-top: 360px;
			margin-left:200px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
#icon3	{										/* 3 Info red icon at bottom of the box  */
			padding: 0px;
			margin-left:440px;
			opacity: 0.2px;
		}

#info3	{													/* 3 gray box with information that is activated when icon hoverd */
			display: none;
			background-image: url('../IMAGES/infobox.png');
			background-repeat:no-repeat; 
			background-color:none;
			float: left;
			width: 294px;     
            height: 150px; 
            padding: 39px;
            margin-top: 560px;
			margin-left:200px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
		}			

#icon4	{										/* 4 Info red icon at bottom of the box  */
			padding: 0px;
			margin-left:440px;
			opacity: 0.2px;
		}	
#info4	{												/* 4 gray box with information that is activated when icon hoverd */
			display: none;				
			background-image: url('../IMAGES/infobox.png');
			background-repeat:no-repeat; 
			background-color:none;
			float: left;
			width: 294px;     
            height: 150px; 
            padding: 39px;
            margin-top: 660px;
			margin-left:200px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
#icon5	{										/* 5 Info red icon at bottom of the box  */
			padding: 0px;
			margin-left:440px;
			opacity: 0.2px;
		}
#info5	{											/* 5 gray box with information that is activated when icon hoverd */
			display: none;
			background-image: url('../IMAGES/infobox.png');
			background-repeat:no-repeat; 
			background-color:none;
			float: left;
			width: 294px;     
            height: 150px; 
            padding: 39px;
            margin-top: 920px;
			margin-left:200px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
#icon6	{										/* 6 Info red icon at bottom of the box  */
			padding: 0px;
			margin-left:440px;
			opacity: 0.2px;
		}
#info6	{										/* 6 gray box with information that is activated when icon hoverd */
			display: none;
			background-image: url('../IMAGES/infobox.png');
			background-repeat:no-repeat; 
			background-color:none;
			float: left;
			width: 294px;     
            height: 150px; 
            padding: 39px;
            margin-top: 1170px;
			margin-left:200px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}
#icon7	{										/* 7 Info red icon at bottom of the box  */
			padding: 0px;
			margin-left:440px;
			opacity: 0.2px;
		}
#info7	{										/* 7 gray box with information that is activated when icon hoverd */
			display: none;
			background-image: url('../IMAGES/infobox.png');
			background-repeat:no-repeat; 
			background-color:none;
			float: left;
			width: 294px;     
            height: 150px; 
            padding: 39px;
            margin-top: 1480px;
			margin-left:200px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}

#icon8	{											/* 8 Info red icon at bottom of the box  */
			padding: 0px;
			margin-left:440px;
			opacity: 0.2px;
		}
#info8	{												/* 8 gray box with information that is activated when icon hoverd */
			display: none;
			background-image: url('../IMAGES/infobox.png');
			background-repeat:no-repeat; 
			background-color:none;
			float: left;
			width: 294px;     
            height: 150px; 
            padding: 39px;
            margin-top: 1735px;
			margin-left:200px;
			text-align:justify;	
			font-size: inherit;
			z-index:auto;
			}




.weighttype{
													                /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 450px;     
            height: 150px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}


.horsetype	{
	 														      /* the horse type menu bar css */
	 		background-color:#E0E0E0;
			float: left;
			width: 450px;     
            height: 78px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}

.linkHolder{
			float: left;
			width: auto;     
            height: auto; 
           
          }
.nextButton{
   			border-top: 1px solid #7d9cb0;			/* the connection button css to the other sites (horseScale.html / horseWeight.html)*/
   			background: #a5b0b7;
   			background: -webkit-gradient(linear, left top, left bottom, from(#a2becf), to(#a5b0b8));
   			background: -webkit-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -moz-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -ms-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -o-linear-gradient(top, #a2becf, #a5b0b7);
   			padding: 3px;
   			-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   			-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   			box-shadow: rgba(0,0,0,1) 0 1px 0;
   			text-shadow: rgba(0,0,0,.4) 0 1px 0;
   			color: white;
   			font-size: 13px;
   			text-decoration: none;
   			vertical-align: middle;
  			}
.nextButton:hover {
   			border-top-color: #28597a;
   			background: #28597a;
   			color: #ccc;
   			}
.nextButton:active {
   			border-top-color: #1b435e;
   			background: #1b435e;
   			}



.HorseFatSkinny {
			
			background-color:#E0E0E0;			/* CSS for skinny or fat horse part*/
			float: left;
			width: 450px;     
            height: 78px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}


.hayType	{										
															 /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 450px;     
            height: auto; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			text-align:inherit;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			
			
			}


.workout{										                /* TRAVS AND SKRAT the work of the horse menu bar css*/
			background-color:#E0E0E0;
			float:left;
			margin-top: 20px;
			width: 450px;     
            height: 230px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			 -webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}
			
.ProteinType{

			background-color:#E0E0E0;
			float: left;
			margin-top: 20px;
			width: 450px;     
            height:205px; 
            padding:20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	        -webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}
.DiverseType{
			
			background-color:#E0E0E0;
			float: left;
			margin-top: 20px;
			width: 450px;     
            height:185px; 
            padding:20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			 -webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-left:-20px;
			}
.submit {																/* submit button, and has on mouse over css */
		     -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		     -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		     box-shadow:inset 0px 1px 0px 0px #ffffff;
		     margin-top: 30px;
		     background-color:#ededed;
		     -moz-border-radius:2px;
		     -webkit-border-radius:2px;
		     border-radius:2px;
		     border:1px solid black;
		     width: 170px;     
             height: auto;
		     display:inline-block;
		     color:black;
		     font-family:arial;
		     font-size:15px;
		     font-weight:bold;
		     float: left;
		     padding:10px;
		     text-decoration:none;
		     text-shadow:1px 1px 0px #ffffff;
		     -webkit-box-shadow: 0 8px 6px -6px black;
	   		 -moz-box-shadow: 0 8px 6px -6px black;
	         box-shadow: 0 8px 6px -6px black;	
}.submit:hover {
			 
			 				
			 background-color:#dfdfdf;
}.submit:active { 	
			 position:relative;
			 top:1px;
}			 

#ResultHead	{
			background-color: white;
			width:500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 0px;
			}

#ResultText	{
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}			



#DraktigResult{
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultText2 {
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultTravGalopp {
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
			}

#ResultFoodArry {
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;

}

#ResultBody {

			background-image:url('../IMAGES/pony-patter.png');
			width: auto;
			height:auto;
			float:right;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin:730px;
			margin-top: 50px;
			position: absolute;
			-webkit-box-shadow:  0px 0px 10px 1px rgba(1, 1, 1, 1);
        	-moz-box-shadow:  0px 0px 10px 1px rgba(1, 1, 1, 1);
        	box-shadow:  0px 0px 10px 1px rgba(1, 1, 1, 1);
			}

#Row2		{
				display:none; 					/*  All the rows 2-5 are not displayed for energy break down input  */
			}

#Row3		{
				display:none;
			}

#Row4		{
				display:none;
			}

#Row5		{
				display:none;
			}

#Result11	{
														/* this containe all the results css when the user submits */
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result22	{
			display:none;
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result33	{
			display:none;
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result44	{
			display:none;
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;
}
#Result55	{
			display:none;
			background-color: white;
			width: 500px;
			float:right;
			padding:10px;	
			border: black;
			border-style:solid;
            border-width:1px;	 
			margin-top: 20px;

}

#redTxt		{
			color:red; 
			}

#greenTxt		{
			color:green; 
			}
.footer{
														/*W3C logo at footer index page */
			
            text-align: center;
			float:left;
			margin-top:2300px;
			position: relative;
		}	



		
			
/*************************************************** BELOW IS CSS FOR A horseScale.HTML PAGE ********************************************************/



.grayBack2{															/* menu gray Background image in horseScale site  */
	
			background-image:url('../IMAGES/pony-patter.png');
			width: 540px;
			float:left;
			height:auto;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: #838B8B; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 50px;
			margin-left:-49px;
			position: absolute;
			-webkit-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	-moz-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
			} 	
	
			
.horseMesurement{
			
			background-image:url('../IMAGES/horse_pen.png');  /* häst Lansmärkeomgång i CM bild */
			background-repeat:no-repeat;
			background-color:white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 35px;
		 	border: solid;
			border-width: 1px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:20px;

			}

.horseMesurement2{
			background-image:url('../IMAGES/horse_pen2.png'); /* häst Bröstomfån i CM  bild*/
			background-repeat:no-repeat;
			background-color:white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 35px;
		 	border: solid;
			border-width: 1px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:20px;

			}

#LansMark{									/*Formel:1 calculater gray box*/
			background-color:#E0E0E0;
			float: left;
			width: 460px;     
            height: auto; 
            padding:20px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			margin:20px;
			}

#theanswer{								/*Formel:1 calculater white display bar */
										
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			width: 400px;     
            height:20px; 
            padding:10px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			margin:20px;

			}

#Brostom{
											/*Formel:2 calculater gray box*/
			background-color:#E0E0E0;
			float: left;
			width: 460px;     
            height: auto; 
            padding:20px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			margin:20px;
			

			}


#theanswer2{
										/*Formel:2 calculater white display bar */
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			width: 400px;     
            height:20px; 
            padding:10px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			margin:20px;
			
			}

#error1	{					/* validation error text color for the horse scale page*/
			color:red;
		}

#error2	{
			color:red;
		}

#error3	{
			color:red;
		}

#error4	{
			color:red;
		}


.footer2{
								/*W3C logo at footer in horseScale page */
			width: 65px;     
            text-align: center;
			margin-top:2000px;
			
			}
			
/*************************************************** BELOW IS CSS FOR A horseWeight.HTML result display PAGE ********************************************************/	


.footer3	{
			width: 65px;    			 /*W3C logo at footer in horseWeight.html page */
            text-align: center;
			margin-top:1900px;
			
			}
.footer4	{
			width: 0px;     			/*W3C logo at footer in VIDEO.html page */
            text-align: center;
			margin-top:1600px;
				
			}			

#menuBar-one { 										/*gray menu bar on top of the page  */
			margin: 1px auto; 
			position: relative; 
			width:1375px; 
			height:45px;	
			border:solid;
			border-width:0px; 
			margin-left:-50px;
			margin-top: 305px;		
			text-align: center;
			font-family: "Al Bayan";
			font-size:43px;
			font-style: normal
			background-image: -ms-linear-gradient(bottom, #B80000 0%, #A10505 50%, #990701 75%, #870000 100%);
			background-image: -moz-linear-gradient(bottom, #B80000 0%, #A10505 50%, #990701 75%, #870000 100%);
			background-image: -o-linear-gradient(bottom, #B80000 0%, #A10505 50%, #990701 75%, #870000 100%);
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B80000), color-stop(0.5, #A10505), color-stop(0.75, #990701), color-stop(1, #870000));
			background-image: -webkit-linear-gradient(bottom, #B80000 0%, #A10505 50%, #990701 75%, #870000 100%);
			background-image: linear-gradient(bottom, #B80000 0%, #A10505 50%, #990701 75%, #870000 100%);
		
		}			

#menuBar-one li { 						/*red menu box's  */
			display: inline-block; 
			height:45px;
			
			
			}

#menuBar-one li a{ 					/* menu box's font, style, size and postioning*/
			position: relative; 
			z-index: 200; 
			color: black; 
			font-size: 14px; 
			display: block; 
			float: left; 
			padding: 35px;
			padding-top:10px;
			text-decoration: none;
			
		 	}

#menuBar-one li a:hover{ 					/* menu box's font, style, size and postioning hover*/
			position: relative; 
			z-index: 200; 
			height: 0px;
			color:black; 
			font-size: 14px; 
			float: left; 
			padding: 35px;
			padding-top:10px;
			text-decoration: none;
		 	background-color:white;
		 	color: black;
			background-color:#DCDCDC; 
			
		 
		 }




.current_page_item_two{																		/* current page for the menu bar and link*/
				background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%);
 				background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%);
				background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%);
				background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #D9D9D9));
				background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%);
				background-image: linear-gradient(bottom, #FFFFFF 0%, #D9D9D9 100%);			
			}




														/* ie6 or other browsers which have not been updated*/
.ie6 #menuBar-one li, .ie7 #menuBar-one li {
						display: inline;
					
				}
			


#Youtubetable {
			background-image:url('../IMAGES/pony-patter.png');
			width: 950px;
			float:left;
			height:inherit;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin:-250px;
			margin-top: 50px;
			position: absolute;
			-webkit-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	-moz-box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);
        	box-shadow:  0px 3px 10px 0px rgba(1, 1, 1, 1);

}			
			
			