body		{
			width: 100%;
			background-image:url('../IMAGES/mount.png');			
			background-repeat: repeat-x ;
			background-position-y: 200px;
			background-size:400px;				
			margin: 0px auto;
			z-index:-1;	
			font-size: small;
			font-family: "Al Bayan";
			float: left;
		
			}
			

.body2		{
			margin: 0 auto;
			width: 620px;
			
			}
			
.header		{
			background-image:url('../IMAGES/header.png');/* horses text header  */ 
			background-repeat:no-repeat;
			background-color: black;
			background-size:600px;
			background-position:center;
		 	width: 540px;     
            height: 100px; 
            padding: 50px;
            border:solid 1px;
			-webkit-box-shadow: 1px 8px 6px -6px black;
	   		-moz-box-shadow: 1px 8px 6px -6px black;
	        box-shadow: 1px 8px 6px -6px black;
			z-index: 1;	
			}

#BgHorsesPicRight	{	
			
			background-image: url('../IMAGES/horses.png');					/* image of horses on the right side of the screen */
			background-repeat:no-repeat;	
			background-size:490px;
			width:200px;
			height:300px;
			float:right;
			padding:135px;
			margin-top:400px;	
			
			
			}

#BgHorsesPicLeft	{		
			
			background-image: url('../IMAGES/horses2.png');						/* image of horses on the left side of the screen */
			background-repeat:no-repeat;
			background-size:650px;
			width: 400px;
			height:300px;			
			float: left;
			padding:100px;
			margin-top:270px;
			
			}





.grayBack	{															/* menu gray Background image in index.html  */
			background-image:url('../IMAGES/pony-patter.png');
			width: 540px;
			float:left;
			height:auto;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			position: absolute;
			}
.horseSelect{
												/* the horse type menu bar css */
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 120px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin-top: 0px;
}


.horsetype	{
	 														      /* the horse type menu bar css */
	 		background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 90px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin-top: 20px;
			}
			
.weighttype{
													                /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 180px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin-top: 20px;
			
			}


.nextButton{
   			border-top: 1px solid #7d9cb0;									/* the connection button css to the other sites (horseScale.html / horseWeight.html)*/
   			background: #a5b0b7;
   			background: -webkit-gradient(linear, left top, left bottom, from(#a2becf), to(#a5b0b8));
   			background: -webkit-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -moz-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -ms-linear-gradient(top, #a2becf, #a5b0b7);
   			background: -o-linear-gradient(top, #a2becf, #a5b0b7);
   			padding: 3px;
   			-webkit-border-radius: 2px;
   			-moz-border-radius: 2px;
   			border-radius: 2px;
   			-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   			-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   			box-shadow: rgba(0,0,0,1) 0 1px 0;
   			text-shadow: rgba(0,0,0,.4) 0 1px 0;
   			color: white;
   			font-size: 13px;
   			text-decoration: none;
   			vertical-align: middle;
  			}
.nextButton:hover {
   			border-top-color: #28597a;
   			background: #28597a;
   			color: #ccc;
   			}
.nextButton:active {
   			border-top-color: #1b435e;
   			background: #1b435e;
   			}



.hayType	{										
															 /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 200px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin-top: 20px;
			text-align:inherit;
			}

.MjSmbrp	{												 /* the weight of the horse menu bar css*/
			
			background-color:#E0E0E0;
			float: left;
			width: 400px;     
            height: 220px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin-top: 20px;
			text-align:inherit;
			
			}


.workout{
													                /* the work of the horse menu bar css*/
			background-color:#E0E0E0;
			float:left;
			margin-top: 20px;
			width: 400px;     
            height: 300px; 
            padding: 20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			
			}
			
.ProteinType{

			background-color:#E0E0E0;
			float: left;
			margin-top: 20px;
			width: 400px;     
            height:auto; 
            padding:20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			}
.DiverseType{
			
			background-color:#E0E0E0;
			float: left;
			margin-top: 20px;
			width: 400px;     
            height: auto; 
            padding:20px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			
			}
.submit {																/* submit button, and has on mouse over css */
		     -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		     -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		     box-shadow:inset 0px 1px 0px 0px #ffffff;
		     margin-top: 30px;
		     background-color:#ededed;
		     -moz-border-radius:2px;
		     -webkit-border-radius:2px;
		     border-radius:2px;
		     border:1px solid black;
		     width: 170px;     
             height: auto;
		     display:inline-block;
		     color:black;
		     font-family:arial;
		     font-size:15px;
		     font-weight:bold;
		     float: left;
		     padding:10px;
		     text-decoration:none;
		     text-shadow:1px 1px 0px #ffffff;
		     -webkit-box-shadow: 0 8px 6px -6px black;
	   		 -moz-box-shadow: 0 8px 6px -6px black;
	         box-shadow: 0 8px 6px -6px black;	
}.submit:hover {
			 
			 				
			 background-color:#dfdfdf;
}.submit:active { 	
			 position:relative;
			 top:1px;
}			 

.footer{
														/*W3C logo at footer index page */
			width: 65px;     
            text-align: center;
			margin-top: 2270px;
			
			}	
			
/*************************************************** BELOW IS CSS FOR A index.HTML result display PAGE ********************************************************/

.display	{											/*css for the index out put or result displayer */
			
			background-image:url('../IMAGES/pony-patter.png');
			width: 540px;
			float:left;
			height:auto;
			padding:60px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 100px;
			margin-left: 400px;
			margin-bottom: 100px;
			
			}			
			
/*************************************************** BELOW IS CSS FOR A horseScale.HTML PAGE ********************************************************/



.grayBack2{															/* menu gray Background image in horseScale site  */
	
			background-image:url('../IMAGES/pony-patter.png');
			width: 540px;
			float:left;
			height:auto;
			padding:50px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			margin-top: 20px;
			position: absolute;
			
			
			} 	
			
.horseFatPic{
			
			background-image:url('../IMAGES/real_horse_body.png');	/* häst fett bild i horseScale.html */
			background-repeat:no-repeat;
			background-color: white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 0px 0px 40px 50px;
			border: solid;
			border-width: 1px;
			-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:30px;
			
			}		
			
.horseMesurement{
			
			background-image:url('../IMAGES/horse_pen.png');  /* häst Lansmärkeomgång i CM bild */
			background-repeat:no-repeat;
			background-color:white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 0px 0px 40px 70px;
		 	border: solid;
			border-width: 1px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:20px;

			}

.horseMesurement2{
			background-image:url('../IMAGES/horse_pen2.png'); /* häst Bröstomfån i CM  bild*/
			background-repeat:no-repeat;
			background-color:white;
			background-size:350px;
			background-position:center;
			float: left;
			width: 430px;
			height: 260px;	
			padding: 0px 0px 40px 50px;
		 	border: solid;
			border-width: 1px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			margin:20px;

			}

#LansMark{									/*Formel:1 calculater gray box*/
			background-color:#E0E0E0;
			float: left;
			width: 460px;     
            height: 220px; 
            padding:20px 20px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin:20px;
			


			}

#theanswer{								/*Formel:1 calculater white display bar */
										
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			font-family: "Al Bayan";
			width: 400px;     
            height:20px; 
            padding:10px 10px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin:20px;

			}

#Brostom{
											/*Formel:2 calculater gray box*/
			background-color:#E0E0E0;
			float: left;
			width: 460px;     
            height: 220px; 
            padding:20px 20px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin:20px;
			

			}


#theanswer2{
										/*Formel:2 calculater white display bar */
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			font-family: "Al Bayan";
			width: 400px;     
            height:20px; 
            padding:10px 10px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin:20px;
			
			}

.footer2{
								/*W3C logo at footer in horseScale page */
			width: 65px;     
            text-align: center;
			margin-top:1900px;
			
			}
			
/*************************************************** BELOW IS CSS FOR A horseWeight.HTML result display PAGE ********************************************************/	


.footer3{
								/*W3C logo at footer in horseWeight.html page */
			width: 65px;     
            text-align: center;
			margin-top:1800px;
			
			}


		