@charset "UTF-8";
/* CSS Document */



body{	

}
			 

.body2	{
	
	margin: 0 auto;
	width: 800px;
	
	
}

.montenImage{
																/* mount picture background */
		background-image:url('../IMAGES/mount.png');			
		background-repeat: repeat-x ;
		background-position:center;
		background-size:500px;
		width:auto;
		height: 900px;
		padding:10px; 
		float: left;
		position: absolute;	
}


.grayBack2{															/* menu gray Background image in horseScale site  */
	
			background-image:url('../IMAGES/pony-patter.png');
			width: 650px;
			height:1000px;
			float: left;
			padding-top: : 100	px;								
			padding: 30px auto;
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			z-index:1;
			
			}

.header{
			background-image:url('../IMAGES/header.png');/* horses text header  */ 
			background-repeat:no-repeat;
			background-color: black;
			background-size:500px;
			background-position:center;
		 	width: 520px;     
            height: 60px; 
            padding: 60px;
            border:solid 1px;
			-webkit-box-shadow: 1px 8px 6px -6px black;
	   		-moz-box-shadow: 1px 8px 6px -6px black;
	        box-shadow: 1px 8px 6px -6px black;
			z-index: 1;	
			}

.horses	{	
			background-image: url('../IMAGES/horses.png');					/* image of horses on the right side of the screen */
			background-repeat:no-repeat;
			width: 400px;
			height: 400px;
			float: left;
			
			}

.horses2{		
			background-image: url('../IMAGES/horses2.png');						/* image of horses on the left side of the screen */
			background-repeat:no-repeat;
			width: 600px;
			height: 500px;			
			float: left;
			
			}

h2.h3.h4.h5.p {
			
			font-size: small;
			font-family: "Al Bayan";
			float: left;
			padding: 30px;
			}



.horseFatPic{
			background-image:url('../IMAGES/real_horse_body.png');	/* häst fett bild i horseScale.html */
			background-repeat:no-repeat;
			background-color: white;
			background-size:300px;
			background-position:center;
			float: left;
			width: 320px;
			height: 260px;	
			padding: 40px;
			-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			
			}

.horseMesurement{
			background-image:url('../IMAGES/horse_pen.png');  /* häst Lansmärkeomgång i CM bild */
			background-repeat:no-repeat;
			background-color:white;
			background-size:300px;
			background-position:center;
			float: left;
			width: 320px;
			height: 260px;	
			padding: 40px;
		 	-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			

}
.horseMesurement2{
			background-image:url('../IMAGES/horse_pen2.png'); /* häst Bröstomfån i CM  bild*/
			background-repeat:no-repeat;
			background-color: white;
			background-size:300px;
			background-position:center;
			float: left;
			width: 320px;
			height: 260px;	
			padding: 40px;
			-webkit-box-shadow: 0 4px 6px -6px black;
	   		-moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
			

}


.grayBack{															/* menu gray Background image in index.html  */
	
			background-image:url('../IMAGES/pony-patter.png');
			width: 610px;
			float:left;
			height:auto;
			padding:30px;	
			border: 1px solid;
			border-style: solid;
			border-color: black; 
			position:absolute;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			
			}




.horsetype{
	 														      /* the horse type menu bar css */
	 		background-color:#E0E0E0;
			float: left;
			width: 360px;     
            height: 100px; 
            padding: 50px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	  		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			
			}

	

.weighttype{
													                /* the weight of the horse menu bar css*/
			background-color:#E0E0E0;
			float: left;
			width: 360px;     
            height: 150px; 
            padding: 30px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			
			}
	
.workout{
													                /* the work of the horse menu bar css*/
			background-color:#E0E0E0;
			float:left;
			width: 470px;     
            height: 280px; 
            padding: 50px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			
			}

.ProteinType{

			background-color:#E0E0E0;
			float: left;
			width: 270px;     
            height: 500px; 
            padding:30px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			
			}

.DiverseType{
			
			background-color:#E0E0E0;
			float: left;
			width: 260px;     
            height: 500px; 
            padding:30px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			
			}





																	
.submit {																/* submit button, and has on mouse over css */
		     -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		     -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		     box-shadow:inset 0px 1px 0px 0px #ffffff;
		     background-color:#ededed;
		     -moz-border-radius:5px;
		     -webkit-border-radius:5px;
		     border-radius:5px;
		     border:1px solid black;
		     display:inline-block;
		     color:black;
		     font-family:arial;
		     font-size:12px;
		     font-weight:bold;
		     float: left;
		     padding:35px;
		     text-decoration:none;
		     text-shadow:1px 1px 0px #ffffff;
		     -webkit-box-shadow: 0 8px 6px -6px black;
	   		 -moz-box-shadow: 0 8px 6px -6px black;
	         box-shadow: 0 8px 6px -6px black;	
}.submit:hover {
			 
			 				
			 background-color:#dfdfdf;
}.submit:active { 	
			 position:relative;
			 top:1px;
				}


.display	{											/*css for the index out put or result displayer */
			
			background-image: url('../IMAGES/pony-patter.png');
			float:left;
			width: 600px;     
            height: 1150px; 
            padding:50px;
            border-style:solid;
            border-width:1px;
			
			}


.footer{
			float: left;						/*W3C logo at footer index page */
			width: 685px;     
            height: 50px; 
         	text-align: center;
			
			}

.footer2{
								/*W3C logo at footer in horseScale page */
			float: left;
			width: 65px;     
            height: 50px; 
         	text-align: center;
			
			}


#LansMark{
			background-color:#E0E0E0;
			float: left;
			width: 350px;     
            height: 200px; 
            padding:30px;	
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;



}
#theanswer{
		
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			font-family: "Al Bayan";
			width: 350px;     
            height:5px; 
            padding:30px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

}

#Brostom{

			background-color:#E0E0E0;
			float: left;
			width: 350px;     
            height: 200px; 
            padding:30px;
            border-style:solid;
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;	


}

#theanswer2{
		
			text-align: center;
			float: left;
			background-color:white; 
			color:red;
			font-size: 20px;
			font-family: "Al Bayan";
			width: 350px;     
            height:5px; 
            padding:30px;
            border-style:solid;
            border-color: black; 
            border-width:1px;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0px 8px 6px -6px black;
	        box-shadow: 0px 8px 6px -6px black;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;

}